<nav class="navbar navbar-default navbar-fixed-top sm-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userid}}/website/{{model.websiteid}}/page">
                <span class="glyphicon glyphicon-chevron-left sm-navbar-glyphicon"></span>
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userid}}/website/{{model.websiteid}}/page/{{model.pageid}}/widget/new">
                <span class="glyphicon glyphicon-plus sm-navbar-glyphicon"></span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand sm-navbar-brand" href="#/user/{{model.userid}}/website/{{model.websiteid}}/page/{{model.pageid}}/widget">Widgets</a>
        </div>
    </div>
</nav>

<div class="container-fluid sm-list-list-group sm-widget-list-page">
    <ul wbdv-sortable class="list-group">

        <li ng-repeat="widget in model.widgets" class="list-group-item">

            <ng-include src="model.getWidgetURL(widget.widgetType)"></ng-include>

            <div class="pull-right sm-widget-glyphicons">
                <a href="#/user/{{model.userid}}/website/{{model.websiteid}}/page/{{model.pageid}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
        </li>

    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom sm-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-play sm-navbar-glyphicon"></span>
        </div>
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-eye-open sm-navbar-glyphicon"></span>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userid}}">
                <span class="glyphicon glyphicon-user sm-navbar-glyphicon"></span>
            </a>
        </div>
    </div>
</nav>